<!--
<nav>
  <ul>
      <li style="display: inline;" class="mr-3" >
          <a href="#"  style="color: brown; text-transform:uppercase;"> <b> MDB test</b> </a> 
      </li>
      <li style="display: inline" class="m-3">
          <a  href="#" style="color: darkblue; text-transform:uppercase;"> <b> ts and js example </b> </a>
      </li>
      <li style="display: inline" class="m-3">
          <a href="#" style="color: darkgreen; text-transform:uppercase; "> <b> ts test </b> </a>
      </li>
      <li style="display: inline" class="m-3">
          <a href="#" style="color: darkgreen; text-transform:uppercase; "> <b> Deploy to GitHub </b> </a>
      </li>
  </ul>
</nav>
-->


<main>
    <div class="panel">
        <div class="form-inline">
            <div class="form-group">
                <div class="col-md-8">
                    <input class="form-control" [(ngModel)]="name" placeholder = "Модель" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <input type="number" class="form-control" [(ngModel)]="price" placeholder="Цена" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <button class="btn btn-default" (click)="addItem(name, price)">Добавить</button>
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Модель</th>
                    <th>Цена</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td>{{item.name}}</td>
                    <td>{{item.price}}</td>
                </tr>
            </tbody>
        </table>
    </div>
  <!--
  <app-test></app-test>
  <app-deploy></app-deploy>
  <app-carousel></app-carousel>
  <app-example></app-example>
-->  
</main>