<div class="row">
  <div class="col">
    <h3>История:</h3>
    <p>Боб работает водителем автобуса. Тем не менее, он стал чрезвычайно популярным среди жителей города. Поскольку так много пассажиров хотят сесть в его автобус, ему иногда приходится сталкиваться с проблемой нехватки места в автобусе! Он хочет, чтобы вы написали простую программу, сообщающую ему, сможет ли он вместить всех пассажиров.
    </p> 
    <h3>Обзор задач:</h3>
    <span> Вы должны написать функцию, которая принимает три параметра:</span>
    <ul>
      <li>cap количество людей, которое может вместить автобус, кроме водителя.</li>
      <li>on это количество людей в автобусе.</li>
      <li>wait количество людей, ожидающих, чтобы сесть в автобус.</li>
    </ul>
    <span> Если места достаточно, верните 0, а если его нет, укажите количество пассажиров, которых он не может принять</span>
    <hr>
    
    
    <table>
      <tr>
        <td>Cap</td><td><input type="number" [(ngModel)]="cap" /></td>
      </tr>
      <tr>
        <td>On</td><td>  <input type="number" [(ngModel)]="on" /></td>
      </tr>
      <tr>
        <td>Wait</td><td> <input type="number" [(ngModel)]="wait" /> </td>
      </tr>
      <tr>
        <td>Result:</td><td> <input type="text" [(ngModel)]="res" /> </td>
      </tr>
      
    </table>
    <p> 
      <button mdbBtn  color="primary" mdbWavesEffect  [type]="type" (click)="space($event)"  >Result</button>
    </p>
  </div>
</div>
